@font-face {
  font-family: 'Hoefler-Regular';
  src: local(Hoefler_Text),
    url(../fonts/hoefler-text/Hoefler_Text.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Hoefler-Black";
  src: local(Hoefler_Text_Black),
    url(../fonts/hoefler-text/Hoefler_Text_Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
